<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              Marquez
            </td>

            <td>
              Documento no valido como factura<br/>
              3813945465 - Solo Whatsapp <br/>
              fecha: January 1, 2015
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Marquez - Alquiler de ropa de Etiqueta y Trajes.<br/>
              Mendoza 764<br/>
              Galeria Mendoza Loc. 11<br/>
              4000 | S. M. de Tucumán | Tucumán
            </td>

            <td>
              Señor(es).: <br/>
              D.N.I: <br/>
              Domicilio: <br/>
              Tel: <br/>
              Email:
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Reserva</td>

      <td></td>
    </tr>

    <tr class="details">
      <td>Reserva para fecha</td>

      <td>01/01/2025</td>
    </tr>

    <tr class="details">
      <td>Un</td>

      <td>Traje</td>
    </tr>

    <tr class="details">
      <td>talle</td>

      <td>56</td>
    </tr>
    <tr class="details">
      <td>Color</td>

      <td>Azul</td>
    </tr>

    <tr class="details">
      <td>modelo</td>

      <td>fit</td>
    </tr>

    <tr class="details">
      <td>Camisa</td>

      <td>no</td>
    </tr>

    <tr class="details">
      <td>Corbata</td>

      <td>Si</td>
    </tr>

    <tr class="details">
      <td>Chaleco</td>

      <td>si</td>
    </tr>

    <tr class="details">
      <td>fecha de prueba</td>

      <td>02/02/2025</td>
    </tr>

    <tr class="details">
      <td>Fecha de entrega</td>

      <td>03/03/2025</td>
    </tr>

    <tr class="details">
      <td>Fecha de devolución</td>

      <td>04/04/2025</td>
    </tr>

    <!-- DETAILS-->
    <tr class="heading">
      <td>Detalles</td>

      <td></td>
    </tr>

    <tr class="item">
      <td>Precio total</td>

      <td>$300.00</td>
    </tr>

    <tr class="item">
      <td>Anticipo</td>

      <td>$75.00</td>
    </tr>

    <tr class="item last">
      <td>Saldo a retirar</td>

      <td>$10.00</td>
    </tr>

    <!--<tr class="total">
      <td></td>

      <td>Total: $385.00</td>
    </tr>-->
  </table>
</div>
