.rentLayout{
  text-align: center;
  padding: 2em;
}

mat-form-field {
  width: 85%;
  padding: 1em;
}

.section-element {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.check-box-margin {
  margin: 0 10px;
}

.datepicker {
  width: 25%;
}

