<h1 mat-dialog-title>Recibo</h1>
<div mat-dialog-content>
  <div class="invoice-box" id="invoice">
    <table>
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                Marquez
              </td>

              <td>
                Documento no válido como factura<br/>
                3813945465 - Solo Whatsapp <br/>
                fecha: January 1, 2015
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Marquez - Alquiler de ropa de Etiqueta y Trajes.<br/>
                Mendoza 764<br/>
                Galeria Mendoza Loc. 11<br/>
                4000 | S. M. de Tucumán | Tucumán
              </td>

              <td>
                Señor(es).: {{currentRent.name}}<br/>
                D.N.I: {{currentRent.dni}}<br/>
                Domicilio: {{currentRent.address}}<br/>
                Tel: {{currentRent.phone}}<br/>
                Email: {{currentRent.email}}
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td>Reserva</td>

        <td></td>
      </tr>

      <tr class="details">
        <td>Reserva para fecha</td>

        <td>{{currentRent.reservationDate}}</td>
      </tr>

      <tr class="details">
        <td>Un</td>

        <td>{{currentRent.type}}</td>
      </tr>

      <tr class="details">
        <td>talle</td>

        <td>{{currentRent.size}}</td>
      </tr>
      <tr class="details">
        <td>Color</td>

        <td>{{currentRent.color}}</td>
      </tr>

      <tr class="details">
        <td>modelo</td>

        <td>{{currentRent.model}}</td>
      </tr>

      <tr class="details">
        <td>Camisa</td>

        <td>{{currentRent.shirt}}</td>
      </tr>

      <tr class="details">
        <td>Corbata</td>

        <td>{{currentRent.tie}}</td>
      </tr>

      <tr class="details">
        <td>Chaleco</td>

        <td>{{currentRent.vest}}</td>
      </tr>

      <tr class="details">
        <td>fecha de prueba</td>

        <td>{{currentRent.tryDate}}</td>
      </tr>

      <tr class="details">
        <td>Fecha de entrega</td>

        <td>{{currentRent.deliveryDate}}</td>
      </tr>

      <tr class="details">
        <td>Fecha de devolución</td>

        <td>{{currentRent.returnDate}}</td>
      </tr>

      <!-- DETAILS-->
      <tr class="heading">
        <td>Detalles</td>

        <td></td>
      </tr>

      <tr class="item">
        <td>Precio total</td>

        <td>{{currentRent.price}}</td>
      </tr>

      <tr class="item">
        <td>Anticipo</td>

        <td>{{currentRent.advancePayment}}</td>
      </tr>

      <tr class="item last">
        <td>Saldo a retirar</td>

        <td>{{currentRent.balance}}</td>
      </tr>

      <!--<tr class="total">
        <td></td>

        <td>Total: $385.00</td>
      </tr>-->
    </table>
  </div>
</div>
<div>
  <mat-dialog-actions align="end">
    <button mat-button color="warn" [mat-dialog-close]="true">Cerrar</button>
    <button mat-button color="primary" (click)="downloadPdf()">Descargar</button>
  </mat-dialog-actions>
</div>
