<mat-toolbar color="primary">
  <div fxHide.gt-xs> <!-- hide for larger than small screens -->
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs> <!-- hide in small screens -->
    <ul fxLayout fxLayoutGap="1em" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">
         <span class="nav-caption">
           <mat-icon matTooltip="Registrarse">account_circle</mat-icon>
         </span>
        </a>
      </li>

      <li *ngIf="!isAuth">
        <a routerLink="/login">
          <span class="nav-caption">
            <mat-icon matTooltip="Entrar">login</mat-icon>
          </span>
        </a>
      </li>

      <li *ngIf="isAuth">
        <a routerLink="/dashboard">
          <span class="nav-caption">
            <mat-icon matTooltip="Cargar alquiler">person_add_alt</mat-icon>
          </span>
        </a>
      </li>

      <li *ngIf="isAuth">
        <a routerLink="/dashboard/reports">
          <span class="nav-caption">
            <mat-icon matTooltip="Reporte semanal">summarize</mat-icon>
          </span>
        </a>
      </li>

      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">
          <span class="nav-caption">
            <mat-icon matTooltip="Desloguearse">logout</mat-icon>
          </span>
        </a>
      </li>

    </ul>
  </div>
</mat-toolbar>
