<mat-nav-list>
  <!--
  <a  *ngIf = "!isAUth" mat-list-item routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-caption"></span>
  </a>

  <a *ngIf = "!isAUth" mat-list-item routerLink="/login">
    <mat-icon>accessibility</mat-icon>
    <span class="nav-caption"></span>
  </a>

  <a *ngIf = "isAUth" mat-list-item routerLink="/dashboard">
    <mat-icon>person_add</mat-icon>
    <span class="nav-caption"></span>
  </a>

  <a *ngIf = "isAUth" mat-list-item routerLink="/dashboard/reports">
    <mat-icon>view_week</mat-icon>
    <span class="nav-caption"></span>
  </a>-->
</mat-nav-list>
