<mat-nav-list>

  <a *ngIf = "!isAuth" mat-list-item routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Registrarse</span>
  </a>

  <a *ngIf = "!isAuth" mat-list-item routerLink="/login">
    <mat-icon>accessibility</mat-icon>
    <span class="nav-caption">Entrar</span>
  </a>

  <a *ngIf = "isAuth" mat-list-item routerLink="/dashboard">
    <mat-icon>person_add</mat-icon>
    <span class="nav-caption">Carga Alquiler</span>
  </a>

  <a *ngIf = "isAuth" mat-list-item routerLink="/dashboard/reports">
    <mat-icon>view_week</mat-icon>
    <span class="nav-caption">Reporte</span>
  </a>
</mat-nav-list>
